.App {
  text-align: center;
}

header {
  background-color: #111111;
  color: #fff;
  min-height: 6vh;
  border-bottom: darkgrey 1px solid;
  display: flex;  
  align-items: center;
  justify-content: center;
}

.branding h3 {
  margin: 0;
}

.body {
  background-color: #282c34;
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form {
  width: 60%;
}

li {
  list-style-type: none;
  text-align: left;
  background: #3b414d;
  border: 1px solid #fff;
  margin: 6px;
  padding: 10px;
}

li a {
  text-decoration: none;
  color: lightblue;
}

li a:visited {
  color: lightblue;
}

li a:hover {
  color: #fff;
}

header input[type=text] {
  width: 60%;
  display: inline-block;
  border-width: 0;
  border-radius: 4px;
  background-color: #282c34;
  padding: 0 20px;
  box-sizing: border-box;
  height: 30px;
}

.body input[type=text] {
  width: 100%;
  display: inline-block;
  border-width: 1px;
  border-radius: 4px;
  padding: 0 20px;
  box-sizing: border-box;
  height: 40px;
}