@import url('https://fonts.googleapis.com/css?family=Montserrat');

.App {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
	background-color: #080b07;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	top: 0;
	bottom: 0;
}

.landing {
	display: inherit;
}

.body {
	height: 100%;
	margin: 0;
	align-items: center;
	justify-content: center;
	color: white;
}
