@import url('https://fonts.googleapis.com/css?family=Montserrat');

.App {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

.landing {
  display: inherit;
}

.body {
  flex: 1 1 auto;
  text-align: center;
  background-color: #151b20;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.body h1 {
  text-transform: capitalize;
}